
@font-face {
    font-family: Raphtalia;
    src: url("../fonts/Raphtalia-2ZmK.ttf");
    src: url("../fonts/Raphtalia-2ZmK.ttf") format("truetype");
}
@font-face {
    font-family: HemeraIi;
    src: url("../fonts/HemeraIiDemoRegular-ZY73.ttf");
    src: url("../fonts/Halfbred-jEEq0.ttf") format("truetype");
}
@font-face {
    font-family: Halfbred;
    src: url("../fonts/Halfbred-jEEq0.ttf");
    src: url("../fonts/Halfbred-jEEq0.ttf") format("truetype"),
    url("../fonts/Halfbred-ALLz6.otf") format("opentype");
}

.recipe{
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px 0px;
    display: flex;
    /*padding-bottom: 10px;*/
    flex-direction: column;
    justify-content: space-around;
    /* flex-wrap: wrap;*/
    background: white;
    align-items: center;
    min-width: 40%;


    /*  -webkit-box-shadow: 10px 10px 20px -4px rgba(176, 176, 176, 0.6);
      -moz-box-shadow: 10px 10px 20px -4px rgba(176, 176, 176, 0.6);
      box-shadow: 10px 10px 20px -4px rgba(176, 176, 176, 0.6);*/
}

.image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.title {
    font-size: large;
    font-weight: normal;
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    font-family: Halfbred, serif;
}
.AppHeader {
    height: 100px;
    padding: 20px;
    font-weight: bold;
    color: antiquewhite;
    font-family: HemeraIi, serif;
}
.searchForm{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar{
    width: 50%;
    border: none;
    padding: 10px;
}
input:focus { border-color: crimson }
input:active{ border-color: lightgreen }
input:focus:hover { border-color: aqua }
.searchButton{
    background: darkcyan;
    border: none;
    padding: 10px 20px;
    color: white;
}
.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
